@font-face {
    font-family: "Neue Haas";
    src: url("../fonts/NeueHass.woff") format('woff');
    font-weight: normal;
}
@font-face {
    font-family: "Neue Haas";
    src: url("../fonts/NeueHass-Black.woff") format('woff');
    font-weight: black;
}