.c-homepage-section {
    display: flex;
    justify-content: center;
    padding: 175px 40px 300px;
    font-family: "Neue Hass";
}

.c-homepage-section__left {
    margin-right: 30px;
}

.c-homepage-section__right {
    margin-left: 30px;
}

.c-homepage-section__header {
    font-size: 2.5rem;
    font-weight: $font-weight-black;
}

.c-homepage-section__content {
    font-size: 1rem;
    line-height: 21px;
    font-weight: normal;
}