.c-homepage-section {
    padding: 184px 0;
    font-family: $font-family-base;
}

.c-homepage-section__left {
    flex-grow: 0;
}

.c-homepage-section__right {
    margin-left: 78px;
}

.c-homepage-section__header {
    margin: 0;
    font-size: 61px;
    font-weight: $font-weight-black;
    line-height: 61px;
    letter-spacing: -1px;
}

.c-homepage-section__content {
    margin: 10px 0 22px;
    font-size: 15px;
    font-weight: $font-weight-normal;
    line-height: 21px;
    letter-spacing: .02px;
}