/*================ Site wrappers ================*/

.o-wrapper {
    width: 100%;
    max-width: $width-wrapper-base;
    margin: 0 auto;
    padding: 0 50px;
}

.o-wrapper--small {
    max-width: $width-wrapper-small;
}