@import "../tools/fonts";

$font-family-base: "Neue Haas", Helvetica, Arial, Sans-Serif;
$font-family-price: "GT Pressura", Helvetica, Arial, Sans-Serif;

$font-size-base: 19px;
$font-line-height-base: 1.5;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 800;