<section class="c-homepage-section u-bgBlue">
  <div class="o-wrapper o-wrapper--small o-flex">
    <div class="c-homepage-section__left o-flex__item">
      <h1 class="c-homepage-section__header">
          {{ section.settings.homepage-intro-header }}
      </h1>
    </div>
    <div class="c-homepage-section__right o-flex__item">
      <p class="c-homepage-section__content">
          {{ section.settings.homepage-intro-content-one }}
      </p>
      <p class="c-homepage-section__content">
          {{ section.settings.homepage-intro-content-two }}
      </p>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Homepage Intro",
    "settings": [
      {
        "id": "homepage-intro-header",
        "type": "text",
        "label": "Header"
      },
      {
        "id": "homepage-intro-content-one",
        "type": "textarea",
        "label": "Content 1"
      },
      {
        "id": "homepage-intro-content-two",
        "type": "textarea",
        "label": "Content 2"
      }
    ]
  }
{% endschema %}